/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(196, 231, 214);
  margin: 300px;
}

.container {
  max-width: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

h1 {
  font-family: 'Alkalami';font-size: 80px; color: darkgreen;
  text-align: center;
  margin:0;
  padding:0;
}
h2{
  text-align: center;
  font-family: cursive; font-size: 30px;
}
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 17px; color: rgb(15, 15, 15);
  text-align: center;
  margin:0;
  padding:0;
}
h4 {
  font-family: cursive; font-size: 20px;
  text-align: left;
  margin:10;
  padding:0;
}

form {
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; font-family: cursive; font-size: large;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="number"],
select,
textarea {
  text-align: center;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #0ad414;
}

textarea {
  height: 100px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Additional styles for specific elements */
#sum,
#additionalNumber,
#totalSum {
  font-weight: bold;
  background-color: #bdcabe;
  border: 1px solid #0ad414;
  padding: 8px;
}

#sum[readonly],
#additionalNumber[readonly],
#totalSum[readonly] {
  background-color: lightgreen;
  border-color: 1px solid #f0730d;
}

.error-message {
  color: rgb(201, 19, 19);
  font-size: 12px;
  margin-top: 5px;
}

/* Responsive styles */
@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}
