html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

body {
    margin: 20px;
}

form, #generatedReceipt {
    max-width: 500px;
    margin: 20px auto;
    border-radius: 1px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    /* Add background image */
    background-image: url('images1/pic6.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /*background: rgb(255,254,250);
    background: linear-gradient(173deg, rgba(255,254,250,1) 0%, rgba(243,236,207,0.5720413165266107) 94%);*/
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: burlywood;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1 {
    text-align: center;
    color: #6059f3;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    margin: 10px 0;
    color: #555;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    form, #generatedReceipt {
        width: 80%;
        margin: 20px auto;
    }
}
